html  {
    scroll-behavior: smooth;
}

body {
    background: url(/pictures/background.jpg)
  
}

.header {
    display: flex;
    flex-direction: row;
     justify-content:center;
}

.header__menu {
    display: flex;
    flex-direction: row;
   /*  justify-content:center */ ;
}

.logo {
    width: 50px;
}

.content::first-letter {
    font-size: 275%;
  font-weight: bold;
  color: indianred;
  float: left;
  margin-right: 6px;

}