html  {
    scroll-behavior: smooth;
}

body {
    background: url(/pictures/background.jpg)
  
}

.header {
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;  
    /* align-items: center; */
}

.menu {
    display: flex;
}

.menu__item {
    margin-left: 100px;
}

.header__menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:center  ;
}

.logo {
    width: 50px;
}

.content::first-letter {
    font-size: 275%;
  font-weight: bold;
  color: indianred;
  float: left;
  margin-right: 6px;

}

.footer {
    display: flex;
}

/* .footer_title {
    display: inline-block;
}
 */
.footer_list {
    display: flex;
}